<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/outfit_maker_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OutfitMakerFake"
        tools:targetApi="31">
        <activity
            android:name=".Utente.LoginController"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Utente.RegistrazioneController" />
        <activity android:name=".Home" />
        <activity android:name=".AreaUtente.AreaUtenteController"/>
        <activity android:name=".Armadio.ArmadioController"/>
        <activity android:name=".CreazioneOutfit.CreazioneOutfitController"/>
        <activity android:name=".CreazioneOutfit.OutfitCreato"/>
    </application>

</manifest>